/* Importing google font */
@import url('https://fonts.googleapis.com/css2?family=Noticia+Text:wght@400;700&family=Roboto:wght@400;500;700&display=swap');

/* Common style */
body {
    font-family: 'Roboto', sans-serif;
    color: #888888;
}

.text-dark {
    color: #222222;
}

.brand-color {
    color: #FF5733;
}

.title {
    font-family: 'Noticia Text', serif;
    font-weight: 700;
}

/* Style nav brand area */
.nav-logo {
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
}

/* Style hero section background */
.hero-bg {
    background-image: url('../img/hero-bg/r-1.png'),
        url('../img/hero-bg/r-2.png'),
        url('../img/hero-bg/r-3.png'),
        url('../img/hero-bg/r-4.png'),
        url('../img/hero-bg/r-5.png'),
        url('../img/hero-bg/r-6.png'),
        url('../img/hero-bg/r-7.png');
    background-position: top 504px left,
        top 260px left 118px,
        top 622px left 280px,
        top 228px right 300px,
        top 545px right 130px,
        top 145px right,
        top 839px right;
    background-repeat: no-repeat;
}

/* Style Global Network Section */

.global-network-bg {
    position: absolute;
    background-color: #F9F9F9;
    height: 356px;
    top: 50%;
    left: 50%;
    z-index: -1;
    transform: translate(-50%, -50%);
}

/* Style Service Card */
.service-card {
    width: 370px;
    height: 390px;
    background: #FFFFFF;
    box-shadow: 0px 15px 55px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 16px;
    line-height: 26px;
    margin: 0 auto;
}

.service-card a::after {
    content: url(../img/icons/arrow.png);
    padding-left: 5px;
    vertical-align: middle;
}

.service-background {
    max-width: 1370px;
    height: 265px;
    background-color: #F9F9F9;
}

/* Style for project section */
.project-card {
    width: 570px;
    height: 570px;
    margin: auto;
}

.project-gradient {
    width: 570px;
    height: 570px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.8) 8.73%, rgba(196, 196, 196, 0) 54.45%);
    transform: rotate(180deg);
    position: absolute;
}

/* Media query for mobile view */
@media only screen and (max-width: 640px) {
    /* Mobile view for hero section */
    .hero-bg {
        background: inherit;
    }

    /* Mobile view for Projects section */
    .project-card, .project-gradient {
        width: 23rem;
        height: 23rem;
        background-size: 100% 100%;
    }

    /* Mobile view for footer section */
    footer > p {
        width: 23rem;
    }
}